@font-face {
  font-family: Montserrat;
  src: url("./Montserrat/Montserrat-Regular.ttf");
}
.contact {
  display: flex;
}
.contact-div {
  position: relative;
  width: 88%;
}
.contact-headline {
  font-family: Montserrat;
  font-size: 2.9em;
  color: #fafaf6;
  text-align: center;
  border-bottom: 0.1225em solid #e2c044;
  width: auto;
}
.contact-info {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0px 0px 15%;
  width: 100%;
  background-color: lawngreen;
}
.contact-title {
  margin: 2% 0px 0px 0px;
  font-family: Montserrat;
  font-size: 1.9em;
  font-weight: 500;
  color: #e2c044;
  text-align: center;
  width: auto;
}
.message-div {
  margin: 5% 0px 0px 15%;
  width: 70%;
}
