@font-face {
  font-family: Montserrat;
  src: url("./Montserrat/Montserrat-Regular.ttf");
}
.headline {
  color: #fafaf6;
  font-family: Montserrat;
  font-size: x-large;
}
/* .home {
  display: flex;
} */
.page-content-div {
  position: relative;
  width: 88%;
}
/* .picture {
  position: absolute;
  width: 100%;
  height: 100%;
} */
