@font-face {
  font-family: Montserrat;
  src: url("./Montserrat/Montserrat-Regular.ttf");
}
.about-txt {
  font-family: Montserrat;
  font-size: larger;
  color: #fafaf6;
}
.home {
  display: flex;
}
.home-content {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 15vh;
  left: 12vh;
  /* background-color: red; */
}
.home-div {
  position: relative;
  width: 88%;
  height: auto;
}
.home-headline {
  font-family: Montserrat;
  font-size: 1.9em;
  color: #fafaf6;
  text-align: center;
  border-bottom: 0.2125em solid #e2c044;
  width: auto;
}
.home-picture {
  margin: 0px 5% 0px 0px;
  width: calc(100vh - 12vh - 12%);
  height: 50vh;
}
.txt-container {
  text-align: left;
}

@media (max-width: 700px) {
  .home {
    display: block;
  }
  .home-div {
    width: auto;
    height: auto;
  }
  .home-headline {
    font-size: 2em;
    border-bottom: none;
  }
  .home-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10vw;
    height: 10vh;
  }
}
