@font-face {
  font-family: Montserrat;
  src: url("./Montserrat/Montserrat-Regular.ttf");
}
a {
  color: #e2c044;
}
.about-content-div {
  width: 60%;
}
.about-txt {
  font-family: Montserrat;
  font-size: larger;
  color: #fafaf6;
  margin: 12% 0px 0px 15%;
  width: 75%;
  text-align: center;
}
.about-txt-div {
  width: 48%;
}

.copyright {
  text-align: center;
  color: #e2c044;
  margin: 5% 0px 0px 0px;
}

.fun-fact-div {
  width: 52%;
}
.h-contents {
  list-style-type: none;
}
.home {
  display: flex;
}

.home-content,
.interest {
  display: flex;
}
.home-content-div {
  width: 55%;
}
.home-div {
  position: relative;
  width: 88%;
  height: auto;
}
.home-headline {
  font-family: Montserrat;
  font-size: 2.9em;
  color: #fafaf6;
  text-align: center;
  border-bottom: 0.1225em solid #e2c044;
  width: auto;
}
.home-item {
  width: 100%;
}
hr {
  background: #e2c044;
}

.interest-div {
  width: 40%;
}
.lists {
  margin: 10% 0% 0%;
}
.lists li {
  margin: 0px 0px 5%;
}
.pictures {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.txt-container {
  width: 50%;
}
@media (max-width: 850px) {
  .about-content-div {
    width: auto;
    display: flex;
  }
  .about-txt {
    font-size: medium;
  }
  .about-txt-div {
    width: auto;
  }

  .fun-fact-div {
    width: auto;
  }
  .home {
    display: block;
  }
  .home-content,
  .interest {
    display: flex;
    flex-direction: column;
    margin: 10% 0px 0px 0px;
  }
  .home-content-div {
    width: auto;
  }
  .home-div {
    width: auto;
    height: auto;
  }
  .home-headline {
    font-size: 2em;
    border-bottom: none;
  }
  .interest :nth-child(1) {
    order: 1;
  }
  .box :nth-child(2) {
    order: 2;
  }
  .interest-div {
    width: auto;
  }
  .txt-container {
    width: auto;
    align-items: center;
  }
}
