@font-face {
  font-family: Montserrat;
  src: url("./Montserrat/Montserrat-Regular.ttf");
}
[aria-label="gallery"] {
  padding: 1rem;
  overflow-x: scroll;
}
[aria-label="gallery"] a {
  text-decoration: none;
}
[aria-label="gallery"] ul {
  white-space: nowrap;
}

[aria-label="gallery"] li {
  display: inline-block;
  text-align: center;
  margin-right: 5rem;
  margin-left: 5rem;
}
[aria-label="gallery"] li li {
  display: flex;
}
[aria-label="gallery"] img {
  max-height: 60vh;
}
[aria-label="gallery"] h1,
p,
a {
  color: #fafaf6;
}
[aria-label="gallery"] h1:hover {
  cursor: pointer;
}
.projects {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
.rotating {
  text-align: center;
  font-size: xx-large;
  color: #fafaf6;
}
.row {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 10px;
  margin: 0px auto 0px 30vw;
}
.tech-icon {
  width: 70px;
}
.tech-div {
  position: relative;
  width: 88%;
}
.tech-headline {
  font-family: Montserrat;
  font-size: 2.9em;
  color: #fafaf6;
  text-align: center;
  border-bottom: 0.1225em solid #e2c044;
  width: auto;
}
.tech-home {
  display: flex;
}
.tech-skills {
  color: #fafaf6;
  font-weight: lighter;
}
.tech-skills-div {
  text-align: center;
}
@media (max-width: 700px) {
  [aria-label="gallery"] {
    display: grid;
  }
  [aria-label="gallery"] img {
    position: inherit;
    top: 0px;
    width: 90%;
  }
  [aria-label="gallery"] li {
    position: relative;
    width: 45vh;
    margin-right: 5rem;
    margin-left: 0rem;
  }
  [aria-label="gallery"] li li {
    display: flex;
  }
  [aria-label="gallery"] li li p {
    white-space: normal;
    text-align: left;
    width: 100vh;
  }
  .row {
    grid-template-columns: 85px 85px 85px 85px;
    grid-gap: 5px;
    margin: 0px 0px 0px 0px;
  }
  .tech-skills {
    font-size: xx-large;
  }
  /* .tech-skills-div {
    widt
  } */
  .tech-icon {
    width: 50px;
  }
  .tech-div {
    width: auto;
    height: auto;
  }
  .tech-headline {
    font-size: 2em;
    border-bottom: none;
  }
  .tech-home {
    display: block;
  }
  [aria-label="gallery"] a {
    font-size: xx-large;
  }
}
