@font-face {
  font-family: Montserrat;
  src: url("./Montserrat/Montserrat-Regular.ttf");
}
[aria-label="gallery"] {
  padding: 1rem;
  overflow-x: scroll;
}
[aria-label="gallery"] a {
  text-decoration: none;
}
[aria-label="gallery"] ul {
  white-space: nowrap;
}

[aria-label="gallery"] li {
  display: inline-block;
  text-align: center;
  margin-right: 5rem;
  margin-left: 5rem;
}
[aria-label="gallery"] li li {
  display: flex;
}
[aria-label="gallery"] img {
  max-height: 60vh;
}
[aria-label="gallery"] h1,
p,
a {
  color: #fafaf6;
}
[aria-label="gallery"] h1:hover {
  cursor: pointer;
}
a:hover {
  color: white;
}
.caption-textbox-left,
.caption-textbox-right {
  background-color: rgba(85, 12, 24, 0.8);
  color: #fafaf6;
}
.caption-textbox-left {
  text-align: left;
}
.caption-textbox-right {
  text-align: right;
}
.floating-text-left {
  position: absolute;
  top: 33%;
  width: 35vw;
  text-align: left;
}
.floating-text-right {
  position: absolute;
  top: 33%;
  left: 33vw;
  width: 35vw;
  text-align: right;
}

.picture-left,
.picture-right {
  width: 40vw;
}
.picture-left {
  float: left;
}
.picture-right {
  float: right;
}
.projects {
  display: flex;
  flex-direction: column;
}
.project-div {
  position: relative;
  margin: 0px 0px 0px 10%;
  width: 68vw;
}
.project-div li {
  margin: 0px 10px 0px 10px;
}
.rotating {
  text-align: center;
  font-size: xx-large;
  color: #fafaf6;
}
.row {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 10px;
  margin: 0px 0px 0px 30vw;
}

.used-tech-left ul,
.used-tech-right ul {
  color: #e2c044;
  display: flex;
  list-style-type: none;
}
.used-tech-left ul {
  float: left;
}
.used-tech-right ul {
  float: right;
}
.tech-icon {
  width: 70px;
}
.tech-div {
  position: relative;
  width: 88%;
}
.tech-headline {
  font-family: Montserrat;
  font-size: 2.9em;
  color: #fafaf6;
  text-align: center;
  border-bottom: 0.1225em solid #e2c044;
  width: auto;
}
.tech-home {
  display: flex;
}
.tech-skills {
  color: #fafaf6;
}
.tech-skills-div {
  text-align: center;
}
@media (max-width: 850px) {
  [aria-label="gallery"] {
    display: grid;
  }
  [aria-label="gallery"] img {
    position: inherit;
    top: 0px;
    width: 90%;
  }
  [aria-label="gallery"] li {
    position: relative;
    width: 45vh;
    margin-right: 5rem;
    margin-left: 0rem;
  }
  [aria-label="gallery"] li li {
    display: flex;
  }
  [aria-label="gallery"] li li p {
    white-space: normal;
    text-align: left;
    width: 100vh;
  }
  .caption-textbox-left,
  .caption-textbox-right {
    text-align: center;
    position: relative;
    left: 10%;
    width: 80%;
  }

  .floating-text-left,
  .floating-text-right {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    text-align: center;
  }
  .picture-left,
  .picture-right {
    width: 100vw;
    height: 50%;
    float: none;
  }

  .project-div {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100vw;
  }
  .row {
    grid-template-columns: 5em 5em 5em 5em;
    grid-gap: 5px;
    margin-left: 0px;
    justify-content: center;
  }
  .tech-skills {
    font-size: xx-large;
  }
  .tech-icon {
    width: 50px;
  }
  .tech-div {
    width: auto;
    height: auto;
  }
  .tech-headline {
    font-size: 2em;
    border-bottom: none;
  }
  .tech-home {
    display: block;
  }
  .used-tech-left ul,
  .used-tech-right ul {
    float: none;
    justify-content: space-between;
    width: 80%;
    position: relative;
    left: 10%;
  }
  [aria-label="gallery"] a {
    font-size: xx-large;
  }
}
